@font-face {
	font-family: 'IBM Plex';
	src: url('../assets/IBMPlex.woff2') format('woff2'),
       url('../assets/IBMPlex.ttf') format('truetype');
	font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'IBM Plex';
	src: url('../assets/IBMPlex-Italic.woff2') format('woff2'),
       url('../assets/IBMPlex-Italic.ttf') format('truetype');
	font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('../assets/Vollkorn.woff2') format('woff2'),
       url('../assets/Vollkorn.ttf') format('truetype');
	font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('../assets/Vollkorn-Italic.woff2') format('woff2'),
       url('../assets/Vollkorn-Italic.ttf') format('truetype');
	font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../assets/RobotoMono.woff2') format('woff2'),
       url('../assets/RobotoMono.ttf') format('truetype');
	font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

html, body, main, section, aside, article {
  font-family: var(--text);
}

:--headings {
  font-family: var(--display);
}

dl, dt {
  font-family: var(--display);
}

dd {
  font-family: var(--text);
}

code, pre {
  font-family: var(--mono);
}

p, span, a, blockquote, q, br, hr, mark, ins, del, sup, sub, small, i, em, b, strong, figcaption, caption {
  font-family: inherit;
}

.thin {
  font-weight: 100;
}

.xlight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.xbold {
  font-weight: 900;
}
